rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /mail/{requestId} {
      allow create: if request.resource.data.keys().hasAll([
        'to',
        'message',
        'formData',
        'createdAt'
      ]);
      allow read: if request.auth != null
        && request.auth.token.email == 'xpertend@xpertend62.firebaseapp.com';
      allow update, delete: if false;
    }
  }
}
